<div class="container">
    <header>
        <h1>Project 2</h1>
    </header>
    <main>
        <h2>Todo List</h2>
        <p>Written by Kyle Huggins for COMP 4450.</p>
        <p>Links –</p>
        <ul>
            <li><a href="/todo">Project (mounted at /todo)</a></li>
            <li><a href="https://cs.harding.edu/gfoust/classes/comp4310/project02.html" target="_blank">Rubric</a></li>
        </ul>
    </main>
</div>